BODY {
    background: url("../back2.jpg");
}

.container {
    border: solid black 3px;
    border-radius: 15px;
    background: rgba(180, 34, 203, 0.30);
}

.nav-link {
    font-size: 20px;
    background: #ffffff;
    margin-right: 20px;
}

.nav-link:hover {
    color: #000000;
    background: rgb(158, 105, 174)
}

.submit-button {
    border: none;
    background: #ffffff;
    text-align: center;
    transition: .4s;
}

.submit-button:hover {
    transition: .4s;
    color: #000000;
    background: #b422cb;
}

.submit-button:active {
    color: #000000;
    background: #df75ef;
    transition: .0s;
}

.submit-button:focus {
    outline: none;
}

.submit-button {
    height: 35px;
    font-size: 20px;
}