BODY {
    background: url("../back2.jpg");
}
.nav-link {
    font-size: 20px;
    background: #ffffff;
    margin-right: 20px;
}

.nav-link:hover {
    color: #000000;
    background: rgb(158, 105, 174)
}

p {
    font-size: 40px;
}

.BandGenres span {
    position: absolute;
    margin-left: 1%;
    padding-top: 5px;
    color: #000000;
    text-align: center;
    font-size: 30px;
}

.BandGenres button {
    border: none;
    padding: 5px;
    background: #ffffff;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    transition: .3s linear;
}

.BandGenres button:hover {
    transition: .4s;
    color: #000000;
    background: #b422cb;
}

.BandGenres button:active {
    color: #000000;
    background: #df75ef;
    transition: .0s;
}

.BandGenres button:focus {
    outline: none;
}

.BandGenres a{
    margin-left: 5px;
}

.in-love{
    border: none;
    padding: 5px;
    background: #ffffff;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    transition: .3s linear;
}

.in-love:hover {
    transition: .4s;
    color: #000000;
    background: #b422cb;
}

.in-love:active {
    color: #000000;
    background: #df75ef;
    transition: .0s;
}

.in-love:focus {
    outline: none;
}

.BandInfo .text {
    white-space:pre-wrap;
    word-wrap:break-word

}

.text-button {
    background: #ffffff;
    letter-spacing: 1px;
    transition: .3s linear;
    margin-right: 20px;
    padding: 5px;
}
.text-button:hover {
    transition: .4s;
    color: #000000;
    background: #b422cb;
}
.text-button:active {
    color: #000000;
    background: #df75ef;
    transition: .0s;
}
.text-button:focus {
    outline: none;
}
.text .hide {
    display: none;
}

.text.more .hide {
    display: inline;
}

.text.more .crop {
    display: none;
}


.ten-track {
    background:#ffffff;
    border:1px solid black;
    width:100%;
}
.ten-track .TenImage {
    width: 40px;
    height: 40px;
    border: solid 1px black;
    border-style: solid;
    display: inline-block;
    border-radius: 100%;
    border-color: #808080;
    background-color: #ffffff;
    transition: 0.1s;
}

.ten-track .TenImage img {
    width: 60%;
    height: 60%;
    margin-top: 8px;
    margin-left: 7px;
}

.ten-track:hover {
    transition: .3s;
    background-color: #df75ef;
}

.ten-track .TenImage:active {
    margin-left: 10px;
    margin-top: 5px;
    transition: 0.1s;
    height: 30px;
    width: 30px;
    margin-bottom: 5px;
}

.ten-track .TenImage:active > img {
    margin-top: -1px;
    width: 50%;
    height: 50%;
    transition: 0.1s;
}
.ten-track .Name {
    /* width: 75%;*/
    margin-top: 7px;
    margin-left: 10px;
    overflow: hidden;
}

.ten-track .Name span {
    width: 100%;
    font-size: 15px;
    white-space: nowrap;
}

.ten-track .TenImage:active + .Name {
    transition: 0.1s;
    margin-left: 16px;
}

.ten-track .TenImage:default {
    transition: 0.1s;
}


.ten-track:hover > .Name span {
    transition: 5s;
    margin-left: -200px;
}


.ten-track .track-add-playlist {
    width: 40px;
    height: 40px;
    border: solid 1px black;
    margin-left: 1%;
    border-style: solid;
    display: inline-block;
    border-radius: 100%;
    border-color: #808080;
    background-color: #ffffff;
    transition: 0.1s;
    position:absolute;
    margin-left:-40px;
}

.ten-track .track-add-playlist:active {
    margin-left: -25px;
    margin-top: 5px;
    transition: 0.1s;
    height: 30px;
    width: 30px;
    margin-bottom: 5px;
}

.ten-track .track-add-playlist:active > img {
    margin-top: -1px;
    width: 50%;
    height: 50%;
    transition: 0.1s;
}
.ten-track .track-add-playlist:active + .track-add-love{
    margin-left:20px;
}
.ten-track .track-add-playlist img {
    width: 60%;
    height: 60%;
    margin-top: 8px;
    margin-left: 7px;
}

.ten-track .track-add-love {
    width: 40px;
    height: 40px;
    border: solid 1px black;
    margin-left: 1%;
    border-style: solid;
    display: inline-block;
    border-radius: 100%;
    border-color: #808080;
    background-color: #ffffff;
    transition: 0.1s;
    position:absolute;
}

.ten-track .track-add-love:active {
    margin-left: 25px;
    margin-top: 5px;
    transition: 0.1s;
    height: 30px;
    width: 30px;
    margin-bottom: 5px;
}

.ten-track .track-add-love:active > img {
    margin-top: -1px;
    width: 50%;
    height: 50%;
    transition: 0.1s;
}

.ten-track .track-add-love img {
    width: 60%;
    height: 60%;
    margin-top: 8px;
    margin-left: 7px;
}